.modal {
  display: flex;
  height: 360px;
  flex-direction: column;
  background: black;
  gap: 5px;

  &__issue {
    flex-grow: 0.1;
  }

  &__description {
    flex-grow: 0.55;
  }

  &__solution {
    flex-grow: 0.35;
  }

  &__icons {
    display: flex;
    flex-grow: 0.2;
    justify-content: center;
    align-items: center;
  }

  &__issue,
  &__description,
  &__solution,
  &__icons {
    &__textbox {
      height: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-grow: 0.1;
    gap: 5px;
    max-height: 40px;

    &__btn {
      padding: 0 !important;
      background-color: azure;
    }
  }
}
