.project-filters {
  display: flex;
  flex-direction: row;
  height: 48px;
  padding-left: 60px;
  width: calc(100% - 75px);
  max-width: 400px;
  gap: 5px;

  @media only screen and (max-width: 500px) {
    height: 60px;
    padding-left: 75px;
    padding-top: 6px;
    max-width: calc(100% - 90px);
  }
}

.red {
  color: red;
}

.yellow {
  color: darkgoldenrod;
}

.green {
  color: green;
}

.blue {
  color: cornflowerblue;
}
