.card {
  transition: all 0.15s ease-in-out;
  border-radius: 10px;
  position: relative;
  background-color: white;
  max-width: 300px;

  @media only screen and (max-width: 500px) {
    width: 100%;
    max-width: 400px;
  }

  &__creator {
    max-width: 150px;
  }

  &__container {
    display: grid;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &__body {
    border: 2px solid lightgrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 3px;
    border-radius: 10px;
    min-height: 160px;

    @media only screen and (max-width: 500px) {
      min-height: 0;
    }
  }

  &__header {
    font-weight: bold;
    min-height: 40px;
  }

  &__description {
    justify-content: top;
    flex-grow: 0.75;
    font-size: 16px;
  }

  &__issue {
    font-weight: 600;
    flex-grow: 0.5;
    min-height: 85px;

    @media only screen and (max-width: 500px) {
      min-height: 55px;
    }
  }

  &__icons {
    flex-grow: 0.25;
    font-size: 30px;
    display: flex;
    margin-left: -4px;

    &__left {
      margin-right: 20px;
      padding-top: 1px;
      flex-grow: 1;
    }
  }

  &__time {
    flex-grow: 0.25;
    padding-bottom: 10px;
    font-size: 12px;
  }

  &__button {
    flex-grow: 0.25;
    padding: 0 !important;
  }

  &:hover {
    transform: scale(1.05);
    background-color: #f7f7f7;
  }
}
