@import '../../styles/vars';

.header {
  position: fixed;
  z-index: 1;
  background-color: black;
  transition: 0.2s;
  width: calc(100% + 40px);
  height: 68px;
  top: -20px;
  left: calc(15px - 100%);
  border-radius: 20px;

  @media only screen and (max-width: 500px) {
    top: -20px;
    height: 80px;
    left: calc(25px - 100%);
  }

  &__show {
    left: -20px;
  }

  &__icon {
    z-index: 1;
    position: absolute;
    color: #f6f7f9;
    font-size: 35px;
    padding: 3px;
    cursor: pointer;

    @media only screen and (max-width: 500px) {
      padding-top: 9px;
      font-size: 40px;
    }
  }
}