@import '../../styles/vars';

.header-bg {
  position: fixed;
  z-index: 1;
  opacity: .75;
  background-color: black;
  transition: 0.2s;

  &__show {
    height: 250px;
    width: 250px;
    top: -125px;
    left: -125px;
    border-radius: 125px;
  }

  &__hide {
    height: 110px;
    width: 110px;
    top: -55px;
    left: -55px;
    border-radius: 55px;
  }
}

.icon {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  color: $base-white;

  &__toggler {
    transition: 0.2s;

    &__closed {
      top: 60px;
      left: 60px;
    }

    &__open {
      top: 130px;
      left: 130px;
    }
  }

  &__profile {
    top: 130px;
    left: 205px;
  }

  &__new-app {
    top: 165px;
    left: 190px;
  }

  &__list {
    top: 190px;
    left: 165px;
  }

  &__logout {
    top: 205px;
    left: 135px;
  }
}

.toggler-icon {
  font-size: 30px;
  font-weight: 800;
}
