@import '../styles/vars';

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%;

  &__container {
    text-align: center;
    max-width: $profile-max-width;
    flex-direction: column;
    padding: 30px;
  }
}

.link-container {
  padding: 5px 0 5px;
}

.text-container {
  text-align: center;
  padding: 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-container > * {
  padding-bottom: 10px;
}

.locale-div {
  position: absolute;
  bottom: 10px;
}