@import './styles/vars';

.container {
  justify-content: center;
  position: relative;
  padding: 0 15px 15px 15px;
  width: calc(100% - 30px);

  &__auth {
    text-align: center;
    justify-content: center;
    max-width: 250px;
    flex-direction: column;
    padding: 30px;
  }
}

body,
html {
  background-color: #f6f7f9;
  height: 100vh;
}

#root {
  height: 100%;
}

input,
button {
  border-radius: 5px;
  margin: 3px 0 3px;
  width: 100%;
  min-height: 38px;
}

input {
  box-sizing: border-box;
  margin: 3px 0 3px;
  padding: 10px;
}

button {
  cursor: pointer;
}