@import './styles/vars';

.container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 15px;
  width: calc(100% - 30px);

  &__auth {
    text-align: center;
    justify-content: center;
    max-width: 250px;
    flex-direction: column;
    padding: 30px;
  }
}

body,
html {
  background-color: #f6f7f9;
  height: 100vh;
}

#root {
  height: calc(100% - 30px);
}

input,
button {
  border-radius: 5px;
  margin: 3px 0 3px;
  width: 100%;
}

input {
  box-sizing: border-box;
  margin: 3px 0 3px;
  padding: 10px;
}

button {
  cursor: pointer;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.card {
  transition: all 0.15s ease-in-out;
  border-radius: 10px;
  position: relative;
  background-color: white;
  max-width: 300px;

  @media only screen and (max-width: 500px) {
    width: 100%;
    max-width: 400px;
  }

  &__container {
    display: grid;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &__body {
    border: 2px solid lightgrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
    border-radius: 10px;
    min-height: 180px;
  }

  &__header {
    min-height: 100px;
    font-weight: bold;
  }

  &__icons {
    font-size: 30px;
    display: flex;
    margin-left: -4px;

    &__left {
      margin-right: 20px;
      padding-top: 1px;
      flex-grow: 1;
    }
  }

  &__time {
    font-size: 12px;
  }

  &__button {
    bottom: 10px;
    height: 40px;
    background-color: azure;
    border: 2px solid lightskyblue;
  }

  &:hover {
    transform: scale(1.05);
    background-color: #f7f7f7;
  }
}
